
.contributionsContainer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  flex-direction: column;
}

.contributionItem {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contributionName {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.contributionTime {
  padding-bottom: 10px;
  float: right;
  font-size: 0.9em;
  color: #666;
  margin: 0.5em 0;
}

.contributionDescription {
  float: left;
  clear: both;
  font-size: 1em;
  color: #333;
}
